<%- include("commons/header.ejs") -%>
    <div class="box" id="heading">
      <h1><%= listTitle %></h1>
      <h1><%= listDate %></h1>
    </div>
    <div class="box">
      
      <% newListItems.forEach(Item => { %>
        <form action="/lists/<%= listTitle %>/deleteItem" method="post">
        <div class="item">
          <input type="checkbox" name="id" value="<%= Item._id %>" onchange="this.form.submit()" />
          <p><%= Item.name %></p>
        </div>
      </form>
      <% }) %>
        

      <form class="item" action="/lists/<%= listTitle %>" method="post">
        <input
          placeholder="New Item"
          type="text"
          class="newItem"
          name="newItem"
          id="newItem"
          autocomplete="off"
        />
        <button type="submit" class="btn">+</button>
      </form>
    </div>

    <form action="/lists/<%=listTitle %>/deleteList" method="post">
      <button type="submit" class="deletebtn">DELETE</button>
    </form>
    <%- include("commons/footer.ejs") -%>